.header {
    padding: 10px;
    background-color: rgb(30, 199, 168);
    grid-area: h
}
.menu {
    padding: 10px;
    background-color: rgb(199, 30, 78);
    grid-area: m;
    grid-row: 1 / 4;
}
.content {
    padding: 10px;
    background-color: rgb(74, 37, 238);
    grid-area: c
}
.footer {
    padding: 10px;
    background-color: rgb(215, 208, 12);
}

div:nth-child(5) {
    background-color: rgb(37, 138, 101);
}

div:nth-child(6) {
    background-color: rgb(129, 6, 41);
}
div:nth-child(7) {
    background-color: rgb(215, 208, 12);
}

div:nth-child(8) {
    background-color: rgb(37, 138, 101);
}

div:nth-child(9) {
    background-color: rgb(129, 6, 41);
}

/*GRID*/
.container {
    height: 100vh;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template: repeat(2,1fr) / repeat(3,1fr);
    /* grid-template-rows: 1fr 2fr; */
    grid-gap: 5px;
}