.header {
    padding: 10px;
    background-color: rgb(30, 199, 168);
    grid-area: h
}
.menu {
    padding: 10px;
    background-color: rgb(199, 30, 78);
    grid-area: m;
    grid-row: 1 / 4;
}
.content {
    padding: 10px;
    background-color: rgb(74, 37, 238);
    grid-area: c
}
.footer {
    padding: 10px;
    background-color: rgb(215, 208, 12);
    grid-area: f; 
}

/*GRID*/
.container {
    height: 100vh;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50px 1fr 50px;
    grid-gap: 5px;  
    grid-template-areas: 
        ". . h h h h h h h h h h"
        "m m c c c c c c c c c c"
        ". . f f f f f f f f f f"
}